p {
  font-style: italic;
}

:host /deep/ p {
  font-style: italic;
  color: blueviolet;
}

:host {
  display: block;
  border: 1px solid #2321ff;
  margin: 5px;
  padding: 5px;
}

.text {
  font-weight: bold;
  color: red;
}

.border {
  border: 5px solid #5e4b80;
}

.bg {
  background-color: yellow;}
