doctype html 
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Eugene's Node homework 20
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400")
		link(rel="stylesheet", href="/fontawesome/webfonts")
		link(rel="stylesheet", href="/css/templatemo-comparto.css")
	body
		//Back to top button
		a#button
			i.fas.fa-angle-up.fa-2x
		block index

		.tm-mb-4.text-center.tm-social-s
			a.tm-social-link(href="https://fb.com/templatemo")
				i.fab.fa-facebook.tm-social-icon #
			a.tm-social-link(href="https://instagram.com")
				i.fab.fa-instagram.tm-social-icon Fb
			a.tm-social-link(href="https://twitter.com")
				i.fab.fa-twitter.tm-social-icon Tw
			a.tm-social-link(href="https://youtube.com")
				i.fab.fa-youtube.tm-social-icon Yt
		footer.text-center.tm-mb-1 Some footer

		script(src="js/jquery.min.js")
		script(src="js/jquery.singlePageNav.min.js")