extends layout

block index
	.container-fluid
		.tm-site-header.tm-mb-1
			.tm-site-name-container.tm-bg-color-1
				h1.tm-text-white EugeneZ
			.tm-nav-container.tm-bg-color-8
				nav#tm-nav.tm-nav
					ul
						li.tm-nav-item
							a.tm-nav-link(href="/")
								span.tm-mb-1 .01
								span About
						li.tm-nav-item.current
							a.tm-nav-link(href="")
								span.tm-mb-1 .02
								span Our services
						li.tm-nav-item
							a.tm-nav-link(href="/contacts")
								span.tm-nav-text.tm-mb-1 .03
								span.tm-nav-text Contacts
		section#services.tm-mb-1.tm-row.tm-services-row
			.tm-section-2-l
				article.tm-bg-color-6.tm-box-pad.tm-mb-1
					h2.tm-mb-2 .02 Perfection is our philosophy
					p Cras tempus, velit amet facilisis venenatis, erat felis imperdiet lectus, at posuere elit metus. Title
					p.tm-mb-0 Nam iaculis, urna ut laoreet aliquam, massa magna dapibus. Text